@import "tailwindcss";

@theme {
  --color-perfume-50: #f5f5fd;
  --color-perfume-100: #eeedfa;
  --color-perfume-200: #dfddf7;
  --color-perfume-300: #c5bef0;
  --color-perfume-400: #ab9ee7;
  --color-perfume-500: #8e76dc;
  --color-perfume-600: #7c58cf;
  --color-perfume-700: #6c46bb;
  --color-perfume-800: #5a3a9d;
  --color-perfume-900: #4b3181;
  --color-perfume-950: #2e1e57;
}
